<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Json_Parsing_Decodeable_Proc_Model_Objects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C2E6A951F831443004C921E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2E6AAC1F831443004C921E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2E6AB71F831443004C921E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
